<!DOCTYPE html>
<html>

<head>
    <title>Flask Web App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class = "Control-panel">
        <div class = "Title"> Control panel </div>
        <a href="/">
            <button id ="Reload" class = "button-1" > Update </button>
        </a>
        <br>
        <a href="/start">
            <button id ="Start" class = "button-3"> Start </button>
        </a>
            <br>

            <a href="/pause">
        <button id ="Pause" class = "button-32"> Stop </button>
    </a>
    </div>
       
    <div class="plot-container">
        <img src="data:image/png;base64,{{ plot_url }}" alt="Mathematical Axis Plot">
    </div>

</body>

</html>


