/* style.css */

body {
    background-color: #5A5A5A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    /* Center the content vertically */
}

.centered-div {
    background-color: 	#4e4e50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    /* Adjust the width */
    height: 80%;
    /* Adjust the height */
}

.header {
    /* Center the title horizontally */
    /* Add some spacing below the title */
    color: rgb(5, 4, 4);
    /* Change text color to black */
}

.image {
    width: 100%;
    height: 100%;
}